<div *ngIf="isLoading" class="loading-spinner">
  <div class="spinner"></div>
</div>
<div class="container">
  <div class="menu card-container" [ngClass]="{'expanded': isPinRequired()}">
    <div class="button-group">
      <button class="button" [class.active]="(activeTab$ | async) === 'card'" (click)="navigateToCard()">Card</button>
    </div>
    <!-- <div class="button-group">
      <button class="button" [class.active]="(activeTab$ | async) === 'transfer'" (click)="navigateToTransfer()">Transfer</button>
    </div> -->
    <div class="button-group">
      <button class="button" [class.active]="(activeTab$ | async) === 'newTransfer'" (click)="navigateToNewTransfer()">Transfer</button>
    </div>
  </div>
  <div class="card card-container" style="min-width: 600px; padding: 20px;" [ngClass]="{'expanded': isPinRequired()}">
    <div class="card__header">
      <img src="assets/icons/contec-logo.png" style="width: 30px;" class="logo" />
      <h1 style="font-size: 1rem;">Payment information</h1>
    </div>
    <div style="margin-top: 20px;">
      <div class="header">
        <button class="close-button">Ref: {{transactionReference}}</button>
      </div>
    
      <div class="payment-details">
        <h4>Amount to pay</h4>
        <div class="amount">₦{{amount}}.00</div>
        <p>Amount ₦{{amount}} | Fee ₦0.00</p>
      </div>
    </div>
    <div class="payment-form-container">
      <p class="form-title">Input card details</p>
      
      <form [formGroup]="cardForm" (ngSubmit)="cardTransactionInitialize()" class="payment-form">
        <div class="form-group">
          <label for="cardNumber">Card Number</label>
          <div class="input-wrapper">
            <input formControlName="cardNumber"
                   type="text"
                   id="cardNumber"
                   autocomplete="off"
                   (input)="maskCardNumber($event)"
                   placeholder="1234 5678 9012 3456"
                   [class.invalid]="cardForm.get('cardNumber')?.invalid && cardForm.get('cardNumber')?.touched"/>
            <img [src]="cardTypeIcon" class="input-icon" alt="card icon"/>
          </div>
        </div>

        <div class="form-group" *ngIf="isPinRequired()">
          <label for="cardPin">Card PIN</label>
          <input 
            type="password" 
            id="cardPin"
            formControlName="cardPin"
            maxlength="4"
            placeholder="Enter 4-digit PIN"
            [required]="isPinRequired()"
          >
        </div>
    
        <div class="form-row">
          <div class="form-group">
            <label for="expirationDate">Expiration Date</label>
            <input formControlName="expirationDate"
                   type="text"
                   id="expirationDate"
                   autocomplete="off"
                   (input)="formatExpiryDate($event)"
                   placeholder="mm/yy"
                   [class.invalid]="cardForm.get('expirationDate')?.invalid && cardForm.get('expirationDate')?.touched"/>
          </div>
          
          <div class="form-group">
            <label for="cvv">CVV</label>
            <div class="input-wrapper">
              <input formControlName="cvv"
                     type="password"
                     id="cvv"
                     maxlength="3"
                     autocomplete="off"
                     placeholder="***"
                     [class.invalid]="cardForm.get('cvv')?.invalid && cardForm.get('cvv')?.touched"/>
              <img src="assets/icons/info.png" class="input-icon-cvv" alt="info icon"/>
            </div>
          </div>
        </div>
    
        <button type="submit" 
                class="confirm-payment" 
                [disabled]="!cardForm.valid">
          Confirm payment
        </button>
      </form>
    </div>
    
    <div class="verify-info" style="margin: 20px;">
      <small  style="font-size: 0.7rem;">Verify the information is correct</small>
    </div>
  </div>
</div>

<div class="powered-by"  style="font-size: 0.7rem;">
  powered by NowNow
</div>
