<div class="container">
  <div class="menu" style="height: 620px;">
    <div class="button-group">
      <button class="button" [class.active]="(activeTab$ | async) === 'card'" (click)="navigateToCard()">Card</button>
    </div>
    <div class="button-group">
      <button class="button" [class.active]="(activeTab$ | async) === 'transfer'" (click)="navigateToTransfer()">Transfer</button>
    </div>
  </div>
  <div class="card" style="width: 600px; height: 620px;">
    <div class="card__header">
      <img src="assets/icons/contec-logo.png" style="width: 40px;" class="logo" />
      <h1>Payment information</h1>
    </div>
    <form [formGroup]="transferForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="row-group">
          <label for="payment-reference" style="text-align: center; height: 40px; margin-top: 10px; width: 40%">Transaction Reference : </label>
          <input style="width: 60%;" type="text" id="payment-reference" aria-label="payment-reference" formControlName="paymentReference"  placeholder="45417280" readonly />
        </div>
      </div>

      <div class="form-group">
        <div class="row-group">
          <label for="amount" style="text-align: center; margin-top: 10px; width: 40%;">Amount : </label>
          <input style="width: 60%;" type="text" id="amount" formControlName="amount" aria-label="Amount" placeholder="Enter amount" readonly />
        </div>
      </div>

      <div class="form-group">
        <div class="row-group">
          <label for="full-name" style="text-align: center; margin-top: 10px; width: 40%;">Full Name : </label>
          <input style="width: 60%;" type="text" id="full-name" aria-label="Full Name" formControlName="fullName" placeholder="Emmanuel Afonrinwo" readonly />
        </div>
      </div>

      <div class="form-group">
        <div class="row-group">
          <label for="bank-account-name" style="text-align: center; margin-top: 10px; width: 40%;">Bank Account Name</label>
          <input style="width: 60%;" type="text" id="bank-account-name" formControlName="accountName" aria-label="Bank Account Name" placeholder="Contec/emmanuel" readonly />
        </div>
      </div>

      <div class="form-group">
        <div class="row-group">
          <label for="bank" style="text-align: center; margin-top: 10px; width: 40%;">Bank : </label>
          <input style="width: 60%;" type="text" id="bank" formControlName="bankName" aria-label="Bank" placeholder="NowNow" readonly />
        </div>
      </div>

      <div class="form-group">
        <div class="row-group">
          <label for="bank-account-number" style="text-align: center; margin-top: 10px; width: 40%;">Bank Account Number :</label>
          <input style="width: 60%;" type="text" id="bank-account-number" formControlName="accountNumber" aria-label="Account Number" placeholder="1234567890" readonly />
        </div>
      </div>

      <button type="submit" [disabled]="!transferForm.valid || isProcessing" class="confirm-payment">
        {{ isProcessing ? 'Processing...' : 'Confirm Payment' }}
      </button>
    </form>
    <div class="verify-info">
      <small style="color: red; font-weight: bolder;">
        Make transfer to the above account. When you are done, click on the confirm payment button.
      </small>
    </div>
  </div>
</div>

<div class="powered-by">
  powered by NowNow
</div>
